<div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>

<p-dataTable [value]="userDatails"  [sortField]="sortF" [sortOrder]="sortO" [globalFilter]="gb">
    <p-column field="id" header="Id" [filter]="true" filterPlaceholder="Search" [sortable]="true">
        <ng-template let-col let-car="rowData" pTemplate="body">
            <a (click)="navigates(car[col.field])">{{car[col.field]}}</a>
        </ng-template>
    </p-column>
    <p-column field="name" header="Name" [filter]="true" filterPlaceholder="Search"></p-column>
    <p-column field="address" header="Address" [filter]="true" filterPlaceholder="Search"></p-column>
</p-dataTable>